[user]
	name = rueihuan
	email = 23100072+rueihuan@users.noreply.github.com
[http]
	postBuffer = 524288000
[alias]
	cm = commit -m
	co = checkout
	cp = cherry-pick
	lg = log --decorate --oneline --graph --all -6
	br = branch
	br-cur = branch --show-current
	sm = submodule
	smf = submodule foreach
	ss = status
	throw = reset --hard HEAD
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
	unskip-ls = !git ls-files -v | grep -e "^S"
[push]
	default = current
[branch "dev"]
	merge = refs/heads/dev
[core]
	editor = vim
	pager = delta
	fileMode = false
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
	line-number = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[pull]
	rebase = true
[includeIf "gitdir:/Users/r0c0jly/"]
    path = .gitconfig-walmart
