[user]
	name = rueihuan
	email = rueihuan@outlook.com
[http]
	postBuffer = 524288000
[alias]
	cm = commit -m
	co = checkout
	cp = cherry-pick
	lg = log --decorate --oneline --graph --all -6
	br = branch
	br-cur = branch --show-current
	push-current= "!f() { git push \"$1\" \"$(git branch --show-current)\" \"$2\"; }; f"
	sm = submodule
	smf = submodule foreach
	ss = status
	throw = reset --hard HEAD
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
	unskip-ls = !git ls-files -v | grep -e "^S"
[push]
	default = current
[branch "dev"]
	merge = refs/heads/dev
[core]
	editor = vim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
	line-number = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
